@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-family: "Denk One", sans-serif;
}

.caption {
  background-color: #e2e2e2;
  overflow: auto;
  padding: 0 1rem 0 1rem;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.3;
  }

  .wrapper {
    position: absolute;
    width: 100%;
  }

  .caption {
    background-color: #e2e2e2;
    position: relative;
    top: 8rem;
    left: 35%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .3);
    width: 60%;
    color: #fff;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.4;
  }

  body {
    height: 480px;
    overflow: auto;
  }

  .caption {
    top: 16rem;
    left: 57%;
    width: 40%;
    color: #fff;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  body {
    font-size: 1.5rem;
    height: 780px;
    overflow: auto;
  }

  .caption {
    top: 30rem;
    left: 65%;
    width: 30%;
    color: #fff;
    font-size: 70%;
  }

}
